<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
</head>
<body>
    Bonjour {{invite.first_name}} <br />
    Vous avez validé votre profil. <br />
    Voici votre mots de passe temporaire : {{password}} <br />
    <br />
    <br />
    En cas de probleme vous pouvez nous contacter à l'adresse suivante : {{email}} <br />
    Liens vers l'application : {{url}}
</body>
</html>