<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Error in activate invite</title>
</head>
<body>
    L'invite  {{invite.first_name}} {{invite.last_name}} n'a pas pu activer son compte<br />
    Info : <br />
    - UUID : {{invite.uuid}} <br />
    - Email : {{invite.email}}
</body>
</html>